# ship only compiled JS, not TS
src/
tsconfig.json

# ignore dev stuff
node_modules/
.vscode/
.git/
*.svg
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.vscode/**
.vscode-test/**

node_modules/**
src/**